<!-- Начало Header'a-->
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">MySite</a>
      <div class="btn-group dropend ">
        <button class="btn btn-secondary dropdown-toggle bg-dark opacity-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#9b9d9e" class="bi bi-person" viewBox="0 0 16 16">
            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
          </svg>
        </button>
        <ul class="dropdown-menu">
          <li class="p-4" style="min-width: 200px; max-width: 350px;">{% if user.is_authenticated %}
            <span class="navbar-text">Вы вошли как: <p class="text-truncate" style="color: aliceblue; max-width: 325px;">{{ user }}</p></span>
            {% else %}
            <span class="navbar-text" style="max-width: 350px;">Вы не выполнили <a href="{% url 'signin' %}">вход</a></span>
            {% endif %}
          </li>
        </ul>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            {% if request.get_full_path == '/' %}
                <a class="nav-link active" href="{% url 'index' %}">Главная</a>
              {% else %}
                <a class="nav-link" href="{% url 'index' %}">Главная</a>
              {% endif %}
          </li>
          <li class="nav-item">
            {% if request.get_full_path == '/contact/' %}
            <a class="nav-link active" href="{% url 'contact' %}">Контакты</a>
              {% else %}
              <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
              {% endif %}
          </li>
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
          <button class="btn btn-outline-success me-2" type="submit">Найти</button> -->
          <form action="{% url 'search_results' %}" method="get" class="d-flex" role="search">
            <input name="q" class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
            <button class="btn btn-outline-success me-2" type="submit">Найти</button>
          </form>
          {% if user.is_authenticated %}
            <!-- <span class="navbar-text me-2">{{ user }}</span> -->
            <a href="{% url 'signout' %}" class="btn btn-outline-light">Выход</a>
          {% else %}
            {% if request.get_full_path == '/signin/' %}
                <a href="{% url 'signin' %}" class="btn btn-outline-light me-2 active">Войти</a>
            {% else %}
                <a href="{% url 'signin' %}" class="btn btn-outline-light me-2">Войти</a>
            {% endif %}
            {% if request.get_full_path == '/signup/' %}
                <a href="{% url 'signup' %}" class="btn btn-outline-light me-2 active">Регистрация</a>
            {% else %}
                <a href="{% url 'signup' %}" class="btn btn-outline-light me-2">Регистрация</a>
            {% endif %}
          {% endif %}
      </form>
      </div>
    </div>
  </nav>
  <!-- Конец Header'a-->